* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
  }
  
  #navbar {                 /* menu */
    color: white;
    position: fixed;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    transition: top 0.3s;
    z-index: 1000;
  }

  #navbar img {           /* icon navbar */
    height: 40px;
  }
  
  .nav-links a {          /* navbar links */
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff4d4d;
  }

  .navbar-branco {          /* navbar fundo branco ao descer*/
    background-color: white;
    color: #b30000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-branco .nav-links a,
  .navbar-branco .login {
    color: #b30000;
  }

  .navbar-branco .nav-links a:hover,
  .navbar-branco .login:hover {
    color: #ff4d4d;
  }
  
  .login {              /* navbar login */
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
  }

  .login:hover {
    color: #ff4d4d;
  }
  
  .banner {           /* imagem de fundo formulário */
    width: 100%;
    height: auto;
    display: block;
  }

  .banner-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .banner-texto {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
  }

  .banner-texto-negrito {
    text-decoration: solid;
    font-size: 55px;
  }

  .banner-texto-topo {
    font-size: 29px;
  }

  .formulario {         
    position: absolute;
    top: 50%;
    left: 6.5%;
    background: rgba(255, 255, 255, 0.900);
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 2px 10px rgba(255, 0, 0, 0.2);
  }

  .formulario-grupo {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #b30000;
  }

  .input-com-icone {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .input-com-icone input {
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex: 1;
  }

  .botao-pesquisa {
    position: absolute;
    right: 240px;
    top: 55.5%;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    border: none;
    padding: 25px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
  }
  
  .botao-pesquisa:hover {
    background-color: darkred;
  }

  .conteudo-principal {           /* conteudo página */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
 }

  .titulos {
    color: #ff0000; 
  }

  .veja-mais {
    color: #ff0000; 
  }

  .mesma-linha {        /* conteudos na mesma linha padrao */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5%;
    margin-top: 20px;
  }

  .mesma-linha-imagem {         /* imagens na mesma linha */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5%;
    margin-top: 20px;
    gap: 20px;
  }

  .destinos-botoes-imagem {       /* botoes nas imagens de destino */
    width: 400px;
    height: 250px;
    border-radius: 20px;
  }

  .mesma-linha-botoes {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 61px
  }

  .botao-destino {
    width: 400px;
    height: 80px;
    background-color: #ff0000;
    border-radius: 20px;
    border: none;
    top: 65%;
    left: 60%;
    transform: translate(+24.8%, -100%);
  }

  .botao-destino-texto {
    transform: translate(+30%, -650%);
    color: white;
    text-decoration: solid;
  }

  .botao-destino-texto-inferior {
    transform: translate(+30%, -750%);
    color: white;
  }