  .banner-texto {
    color: white;
    text-align: center;
  }

  .banner-texto-negrito {
    text-decoration: solid;
    font-size: 55px;
  }

  .formulario {
    top: 80%; 
    left: 29.5%; 
    transform: translate(-50%, -170%); 
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 1%; 
    border-radius: 15px;
  }

  .botao-pesquisar {
    background-color:red;
    margin-top: 30px;
  }